certifi==2019.3.9
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.1
django-allauth==0.39.1
django-taggit==1.1.0
django-uuslug==1.1.8
idna==2.8
Markdown==3.1
oauthlib==3.0.1
Pillow==6.0.0
python-slugify==3.0.2
python3-openid==3.1.0
pytz==2019.1
redis==3.2.1
requests==2.22.0
requests-oauthlib==1.2.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
text-unidecode==1.2
urllib3==1.25.2
