{% extends "base.html" %}
{% load article_tags %}
{% load i18n %}
{% load information_tags %}
{% load thumbnail %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    {% thumbnail user.profile.avatar "300x300" crop="100%" as im %}
        <a href="{{ user.get_absolute_url }}"><img src="{{ im.url }}" style="width:65px;"
                                                   class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        </a>
    {% endthumbnail %}
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
            class="fa fa-bars"></i></span>
    <div class="w3-row">
        <!-- Big cards -->
        <div class="w3-col l8 s12">
            <!-- Detail card -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container w3-padding">
                    <h4>{% trans "Posts" %}</h4>
                </div>
                <div class="w3-container w3-white w3-padding-16">
                    {% include "article/list_ajax.html" with posts=user.posts_created.all %}
                </div>
            </div>
            <hr>
            <div class="w3-card-4 w3-margin">
                <div class="w3-container w3-padding">
                    <h4>{% trans "What's happening" %}</h4>
                </div>
                <ul class="w3-ul w3-hoverable w3-white">
                    {% for action in actions %}
                        <li class="w3-padding-16">
                            {% include "actions/detail.html" %}
                        </li>
                    {% empty %}
                        <div class="w3-container w3-white">
                            <p>{% trans "There is nothing happened." %}</p>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <!-- END BIG CARDS -->
        </div>

        <!-- Introduction menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                {% thumbnail user.profile.avatar "300x300" crop="100%" as im %}
                    <a href="{{ user.get_absolute_url }}">
                        <img src="{{ im.url }}" style="width:100%">
                    </a>
                {% endthumbnail %}
                <div class="w3-container w3-white">
                    <h4><b>{{ user.username }}</b></h4>
                    {% if user != request.user %}
                        <button class="w3-button {% follow_color request.user user %}" id="follow-button">
                            <i class="fas fa-heart"></i>
                            <span class="count">
                                <span class="total">{% followers_count user %}</span>
                                {% trans "followers" %}
                            </span>
                        </button>

                        <a class="w3-button w3-light-gray" href="{% url 'actions:conversation' user.id %}">
                            <i class="fas fa-envelope"></i>
                            {% trans "Contact" %}
                        </a>
                    {% endif %}
                    <a href="#" data-id="{{ user.id }}"
                       data-action="{% follow_action request.user user %}" class="follow button" id="follow-link"
                       style="display: none">
                        {% show_follow request.user user %}
                    </a>
                    <p>{{ user.profile.description|markdown }}</p>
                </div>
            </div>
            <hr>
            <!-- Followers -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>{% trans "Followers" %}</h4>
                </div>
                {% include 'information/list_ul.html' with users=followers %}
            </div>
            <!-- Following -->
            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>{% trans "Following" %}</h4>
                </div>
                {% include 'information/list_ul.html' with users=following %}
            </div>
            <!-- END Introduction Menu -->
        </div>
    </div>
{% endblock %}
{% block domready %}
    <script>
        $(document).ready(function () {
            $('a.follow').click(function (e) {
                e.preventDefault();
                $.post('{% url "information:user_follow" %}',
                    {
                        id: $(this).data('id'),
                        action: $(this).data('action')
                    },
                    function (data) {
                        if (data['status'] == 'ok') {
                            var previous_action = $('a.follow').data('action');

                            // toggle data-action
                            $('a.follow').data('action',
                                previous_action == 'follow' ? 'unfollow' : 'follow');
                            // toggle link text
                            $('a.follow').text(
                                previous_action == 'follow' ? 'Unfollow' : 'Follow');

                            // update total followers
                            var previous_followers = parseInt(
                                $('span.count .total').text());
                            $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);

                            if (previous_action == 'follow')
                                $('#follow-button').removeClass('w3-light-gray').addClass('w3-black');
                            else $('#follow-button').removeClass('w3-black').addClass('w3-light-gray');
                        }
                    }
                );
            });
            $('#follow-button').click(function (e) {
                $('#follow-link').click();
                return false;
            });
        });
    </script>
{% endblock %}
