{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Send a message" %}{% endblock %}
{% block content %}
    {% thumbnail user.profile.avatar "300x300" crop="100%" as im %}
            <a href="{{ user.get_absolute_url }}"><img src="{{ im.url }}" style="width:65px;"
                                                       class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
            </a>
        {% endthumbnail %}
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <h1>{% trans "Send a message" %}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="id_user_to">{% trans "User to:" %}</label>
                {{ form.user_to }}
            </p>
            <div id="editormd">
                <textarea name="body" id="id_body" style="display:none"></textarea>
            </div>
            <p><input type="submit" value="{% trans 'Send' %}"
                      class="w3-button w3-padding-large w3-white w3-border"></p>
        </form>
    </div>
{% endblock %}
{% block domready %}
    <script>
        $(function () {
            var editor = editormd("editormd", {
                height: 500,
                syncScrolling: "single",
                path: "{% static 'editormd/lib/' %}" // Autoload modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>
{% endblock %}