{% load thumbnail %}
{% load article_tags %}
{% load i18n %}
{% thumbnail message.user_from.profile.avatar "80x80" crop="100%" as im %}
    <a href="{{ message.user_from.get_absolute_url }}">
        <img src="{{ im.url }}" alt="Image" class="w3-left w3-margin-right"
             style="width:50px">
    </a>
{% endthumbnail %}
<span class="w3-large">{{ message.user_from.username }}</span>
<span class="w3-large w3-opacity">, {{ message.created|timesince }} {% trans "ago" %} <a
        href="{% url 'actions:message_delete' message.id %}">{% trans "Delete" %}</a></span>
<br>
<span>{{ message.body|markdown }}</span>