TODO

{% load article_tags %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Market</h1>
        <p class="lead">共有 {% total_posts %} 条内容。</p>
        <p class="lead"><a href='{% url "article:post_feed" %}'>订阅 RSS 源</a></p>

        {% show_latest_posts 3 %}

        {% get_most_commented_posts as most_commented_posts %}
        <ul class="list-group m-4">
            <li class="list-group-item">最热内容</li>
            {% for post in most_commented_posts %}
                <li class="list-group-item">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>