{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Update a post" %}
{% endblock %}
{% block content %}
    <div class="w3-container w3-padding-large" style="margin-bottom:32px">
        <h1>{% trans "Update a post" %}</h1>
        <form action="." method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <p><label for="id_title">{% trans "Title:" %}</label> {{ form.title }}</p>
            <p><label for="id_avatar">{% trans "Avatar:" %}</label> {{ form.avatar }}</p>
            <p><label for="id_price">{% trans "Price:" %}</label> {{ form.price }}</p>
            <div id="editormd">
                <textarea name="body" id="id_body" style="display:none">{{ form.body.value }}</textarea>
            </div>
            <input type="submit" value="{% trans 'Update' %}" class="w3-button w3-white">
        </form>
    </div>
{% endblock %}
{% block domready %}
    <script>
        $(function () {
            var editor = editormd("editormd", {
                height: 640,
                syncScrolling: "single",
                path: "{% static 'editormd/lib/' %}" // Autoload modules mode, codemirror, marked... dependents libs path
            });
        });
    </script>
{% endblock %}